extends ../layout_admin.pug


block content
    .container.containerForm
        h4 #{titleFormAdmin}
        //- if error..permet d'afficher le message de mail déja enregistré ds le cas de repetition de la valeur email du form
        if error 
            .alert.alert-danger= error
        //- On retire la condition action pour permettre l update et non le rajout d une nouvelle table dans la liste  après update
        //- form(action='/dashboardView/registerHomesView' method="post") est devenu form(method="post") 
        form(method="post" autocomplete="on")            
            //- input(type="hidden" name="_id" value=formInfoNewHome._id)
            input(type="text" name="csrf"  value=token_csrf)
            .row 
                .col-6
                    h4 Adresse du Bien
                    hr
                    h6 Nom du vendeur
                    .input-group.mb-3
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Nom du vendeur" name="lastnameSeller" value=formInfoNewHome.lastnameSeller)
                    h6 Adresse
                    .input-group.mb-3
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Votre Adresse" name="adress" value=formInfoNewHome.adress)

                    .input-group.mb-3
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Complément Adresse(facultatif" name="adress_more" value=formInfoNewHome.adress_more)

                    div.row
                        div.col-lg-6.pb-3
                            h6 Code Postal
                            .input-group.mb-2
                                .input-group-prepend
                                    //- .input-group-text.d-none.d-lg-block
                                        //- i.fa.fa-user
                                input(type="text" class="form-control" placeholder="Code Postal" name="postalCode" value=formInfoNewHome.postalCode)
                        div.col-lg-6.pb-3
                            h6 Ville
                            .input-group.mb-3
                                .input-group-prepend
                                    //- .input-group-text.d-none.d-lg-block
                                        //- i.fa.fa-user
                                input(type="text" class="form-control" placeholder="Ville" name="city" value=formInfoNewHome.city)

                    h6 Informations complémentaires
                    .input-group.mb-3
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        textarea(rows="6" type="text" class="form-control" placeholder="Message" name="info_compl1")=formInfoNewHome.info_compl1

                .col-6
                    h4 Contact du bien
                    hr
                    
                    h6 Nom
                    .input-group.mb-3
                        .input-group-prepend
                            .input-group-text.d-none.d-lg-block
                                i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Nom" name="lastname" value=formInfoNewHome.lastname)
            

                    h6 Prénom
                    .input-group.mb-3
                        .input-group-prepend
                            .input-group-text.d-none.d-lg-block 
                                i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Prénom" name="firstname" value=formInfoNewHome.firstname)
                    
                    .input-group.mb-3
                        .input-group-prepend
                            .input-group-text.d-none.d-lg-block 
                                i.fas.fa-user-circle
                        select(class="custom-select" placeholder="Civilité" name="civility")
                            //- Comprendre pourquoi l'erreur en base de donné..type d ereponse a checker
                            //- <option selected></option>
                            option(value="1") Monsieur
                            option(value="2" selected=formInfoNewHome.civility==2) Madame

                    h6 Email
                    .input-group.mb-3
                        span.input-group-prepend
                            span.input-group-text.d-none.d-lg-block 
                                i.fa.fa-envelope 
                        //- Attention a bien stipuler dans le Admin-page.js l'existence de l objet:formInfoNewHome
                        input(type="email" class="form-control" placeholder="Email" name="email" value=formInfoNewHome.email)     
                    
                    h6 Mobile
                    .input-group.mb-3
                        .input-group-prepend
                            .input-group-text.d-none.d-lg-block
                                i.fa.fa-phone
                        input(type="phone" class="form-control" placeholder="Mobile" name="mobil" value=formInfoNewHome.mobil) 
                    
                    h6 Phone
                    .input-group.mb-3
                        .input-group-prepend
                            .input-group-text.d-none.d-lg-block
                                i.fa.fa-phone
                        input(type="phone" class="form-control" placeholder="Téléphone" name="phone" value=formInfoNewHome.phone) 

                    h6 Informations complémentaires
                    .input-group.mb-3       
                        .input-group-prepend
                    //- .input-group-text.d-none.d-lg-block
                    //- i.fa.fa-user
                    textarea(rows="5" type="text" class="form-control" placeholder="Message" name="info_compl2")=formInfoNewHome.info_compl2
                hr
                br
                hr
                .row.justify-content-center
                    .col-2
                        button.btn.btn-primary(type="submit") #{saveButtonText}
            div.row
                .col-lg-6 
                    h6 Titrez Votre Annonce
                    .input-group.mb-4
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder=`Titre de Description` name="titreDescription" value=formInfoNewHome.titreDescription)
                    h6 Prix de vente
                    .input-group.mb-2
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Prix de Vente" name="priceHome" value=formInfoNewHome.priceHome)
                    h6 Ville du Bien
                    .input-group.mb-2
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Ville du Bien" name="cityDuBien" value=formInfoNewHome.cityDuBien) 
                    .row
                        div.col-lg-6.pb-2
                            h6 Code Postal du Bien
                            .input-group.mb-1
                                .input-group-prepend
                                    //- .input-group-text.d-none.d-lg-block
                                        //- i.fa.fa-user
                                input(type="text" class="form-control" placeholder="CP" name="postalCodeDuBien" value=formInfoNewHome.postalCodeDuBien) 
                        div.col-lg-6.pb-2
                            h6 Particulier ou Professionel?
                            .input-group.mb-3
                                .input-group-prepend
                                    .input-group-text.d-none.d-lg-block 
                                        i.fas.fa-user-circle
                                select(class="custom-select" placeholder="Status" name="annonceurStatus:" value=formInfoNewHome.annonceurStatus)
                                    //- Comprendre pourquoi l'erreur en base de donné..type d ereponse a checker
                                    //- <option selected></option>
                                    option(value="1") Particulier
                                    option(value="2" selected=formInfoNewHome.civility==2) Professionel
                .col-lg-6
                    h6 Titre Description du Bien
                    .input-group.mb-2
                        .input-group-prepend
                            //- .input-group-text.d-none.d-lg-block
                                //- i.fa.fa-user
                        input(type="text" class="form-control" placeholder="Titre Ici" name="titleDescriptionHouse" value=formInfoNewHome.titleDescriptionHouse) 
                    div.col-lg-12.pb-2
                        h6 Informations complémentaires
                        .input-group.mb-3       
                            .input-group-prepend
                        textarea(rows="10" type="text" class="form-control" placeholder="Décrivez votre Bien" name="textDescriptionHouse")=formInfoNewHome.textDescriptionHouse