extends layout.pug
block content 
    div.col-6.col-centered
        h1.ivory Site ecommerce Immobilier

    .container
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.form-container 
            h1.h2 Listes de nos Bien à vendre
        hr
        each eachSellerinMyDbb in allSellersinMyDbb
            .row_lg-12 
                .col.colAnnonceCentered
                    .col-lg-4.colPictureHome
                    i.imgTumbialHouse(src="")
                    .col-lg-8.colAllInfoAnnonce
                        .row.rowUpInAnnonce
                            .col-lg-7.colAllInfoAnnonce
                                .row 
                                    a.col-lg-7.titreDescription(href=(`/homeDescriptionDetails/${eachSellerinMyDbb.id}`)) #{eachSellerinMyDbb.titreDescription}
                                .row
                                    .postalCodeDuBiens #{eachSellerinMyDbb.postalCodeDuBiens}
                            .col-lg-1.colImgHeart
                                i.far.fa-heart
                        .row.rowDown.Annonce
                            .col-lg-7.colAllInfoAnnonce
                                .row 
                                    .cityDuBien #{eachSellerinMyDbb.cityDuBien}
                                .row
                                    .typedeVendeur #{eachSellerinMyDbb.typedeVendeur}
                                .row
                                    .postalCodeDuBiens #{eachSellerinMyDbb.postalCodeDuBiens}
                            .col-lg-1.colImgHeart
                                .annonceurStatus #{eachSellerinMyDbb.annonceurStatus}
